body {
        font-family: "Playfair Display", serif;
        color:#626262;
        font-size: 14px;
        line-height: 24px;
}
.header {width: 100%}
.main-menu-nav {
        padding-left: 0px;
}
.main-menu-nav li {
        list-style: none;
        line-height: 24px;
        display: inline-block;
        text-align: center;
        width: 15%;
}
.main-menu-nav a:hover{
        color: #03a9f4;
}
.main-menu-nav a {
        color: #626262;
        text-transform: uppercase;
        text-decoration: none;
        width: 100%;
        text-align: center;

}
ul {text-align: center}
.main-content {
        width: 900px;
        margin-left: 150px;
        padding-left: 20px;
}
.main-content-box {
        margin-bottom: 135px;
        padding-left: 0px;
        display: inline-block;
                width: 420px;
                
}                   
.main-content-box h4 {
                font-family: "Ubuntu", sans-serif;
        text-transform: uppercase;
        line-height: 17px;
        font-weight: 300;
}
.main-content-box h2 {
        font-size: 30px;
        line-height: 36px;
}
.main-content-box p {
        
}
footer {
        text-align: center;
}
button {
        font-family: "Playfair Display", serif;
        color: #626262;
        font-size: 20px;
        line-height: 24px;
        border: 1px solid #626262;
        width: 160px;
        height: 60px;
        background-color: #fff;
        }









/*a {
  text-decoration: none;
}
li {
font-family: 'Playfair Display', serif;
  display: inline-block;
  margin-left: 120px;
}
.nav {
  text-align: center;
  margin-top: 70px;
}
.box {
  display: inline-block;
  margin-top: 130px;
  margin-left: 150px;
}
p {width: 420px;}
footer {text-align: center;
font-size: 25px;
}

