body {
        font-family: "Playfair Display", serif;
        color:#626262;
        font-size: 14px;
        line-height: 24px;
}

/* Navigation*/

.main-menu {
        margin-top: 75px;
        margin-bottom: 100px;
}
li{
        display: inline-block;
        list-style: none;
        width: 15%;
        
}
a {
        color: #626262;
        width: 100%;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
}
.main-menu-nav a:hover{
        color: #03a9f4;
}
.main-menu-nav {
        text-align: center;
}

/* Section*/

.main-content-box {
        width: 470px;
        text-align: justify;
        margin: auto;      
}
p       {padding-right: 50px;
}
.main-content {
        margin: auto;
        width: 960px;
        text-align: center;       
}
.main-content-box {
        display: inline-block;
        width: 470px;
        text-align: justify;
        margin-bottom: 130px;
}        
h4 {
        font-family: "Ubuntu", sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 17px;
}
h2 {
        font-size: 30px;
        line-height: 36px;
        
}

/* Botton*/

footer {
        text-align: center;
}
button {
        font-family: "Playfair Display", serif;
        color: #626262;
        font-size: 20px;
        line-height: 24px;
        border: 1px solid #626262;
        width: 160px;
        height: 60px;
        background-color: #fff;
        }
