*{margin: 0;
        padding: 0;
}
body {
        font-family: "Playfair Display", serif;
        color:#626262;
        font-size: 14px;
}

/* Navigation*/

.main-menu {
        padding-top: 75px;
        padding-bottom: 100px;
        text-align: center;
}

.main-menu-nav li{
        display: inline-block;
        list-style: none;
        width: 143px;
}

a {
        color: #626262;
        width: 100%;
        text-decoration: none;
        text-transform: uppercase;
}

.main-menu-nav a:hover{
        color: #03a9f4;
}

/* Section*/
  
.main-content {
        margin: 0 auto;
        width: 960px; 
        font-size: 0;    
}
.main-content-box {
        display: inline-block;
        width: 420px;
        text-align: justify;
        margin-bottom: 130px;
}   
h4 {
        font-size: 14px;
        font-family: "Ubuntu", sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 17px;
        padding-top: 30px;
        padding-bottom: 30px;
}
h2 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 30px;     
}
p {
        font-size: 14px;
        line-height: 24px; 
}
.main-content :nth-child(5){
        margin-bottom: 0;
}
.main-content :last-child {
        margin-bottom: 0;
}
.main-content :nth-of-type(2n) {
        padding-left: 60px;
} 

/* Botton*/

footer {
        text-align: center;
        padding-top: 60px;
        padding-bottom: 70px;
        
}
button {
        font-family: "Playfair Display", serif;
        color: #626262;
        font-size: 20px;
        line-height: 24px;
        border: 1px solid #626262;
        width: 160px;
        height: 60px;
        background-color: #fff;
        }
