        li {
            list-style-type: none}

        li.nav1, li.nav2, li.nav3, li.nav4 {
            list-style-position: inside;
            display: inline-block;
            margin-left: 315px;
            margin-top: 75px;
            margin-bottom: 110px}

        li.nav2 {
            margin-left: 120px;}
            

        li.nav3 {
            margin-left: 110px;}

        li.nav4 {
            margin-left: 100px;}


        ul.main1, ul.main3, ul.main5 {
            list-style-position: inside;
            display: inline-block;
            margin-left: 150px;
            margin-bottom: 145px;}

        ul.main2, ul.main4, ul.main6 {
            list-style-position: inside;
            display: inline-block;
            margin-bottom: 145px;}

        div.button {
            margin-left: 540px}