/* Задание 1 */

li {
        float: left;
        list-style: none;
}
li:hover {
        color: #ff0000;
}
li:not(:nth-child(6)) {
        margin-right: 50px;
}

/* Задание 2 */

li {
        list-style: none;
        color: #0E1116;
}
li:nth-chil(-n+3) {
        background-color: #88292F;
}
li:nth-child(n+4) {
        background-color: #5DB7DE;
}
li:nth-chil(n+7) {
        background-color: #0D5D56;
}