* {
  margin: 0;
  padding: 0;
  letter-spacing: -0.02em;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
body {
    width: 100%;
}

/* NAVIGATION*/

nav {
  padding-top: 43px;
  padding-bottom: 97px;
  width: 1110px;
  margin: 0 auto;
}
.nav-unit {
  list-style: none;
  float: left;
}
.nav-unit-item {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
  color: #0f0101;
}
.nav {
  float: right;
}
.nav-unit:not(:nth-child(6n)) {
  margin-right: 30px;
}
.logo {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  float: left;
  font-size: 30px;
  line-height: 32px;
  }
.logo-unit::first-letter {
  color: #1abc9c;
  font-weight: 900;
}
.logo-unit {
  float: right;
  font-weight: 300;
  color: #555252;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
.nav-unit-item:hover {
  color: rgb(78, 198, 171);
}

/* GALLERY*/
/* Section title */

.section-galery {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 91px;
  color: #555252;
}
.section-galery::after {
  content: "";
  display: block;
  background-color: #4ec6ab;
  width: 164px;
  height: 7px;
  margin: 0 auto;
  margin-top: 34px;
}

/* Featured */

.featured {
  font-size: 0;
  width: 1110px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.featured2 {
  font-size: 0;
  width: 1110px;
  margin: 0 auto;
  padding-bottom: 100px;
}
h4 {
  width: 187px;
  background-color: rgb(50, 50, 50);
  height: 40px;
  padding-left: 13px;
  display: inline-block;
}
.featured-item-url {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 40px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
span {
  display: block;
  background-color: #767a7a;
  float: right;
  width: 55px;
  height: 40px;
}
span::before {
  padding-left: 12px;
  content: "\0024";
}
.featured-item, .featured-item2 {
  float: left;
  width: 255px;
}
.featured-item:nth-child(-n + 3) {
  margin-right: 30px;
}
.featured-item:hover h4, .featured-item2:hover h4 {
  background: #1abc9c;
}
.featured-item:hover span, .featured-item2:hover span {
  background-color:  #7fd9c7;
}
  
/* Blog*/

.section-blog {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
  color: #555252;
}
.section-blog::after {
  content: "";
  display: block;
  background-color: #4ec6ab;
  width: 164px;
  height: 7px;
  margin: 0 auto;
  margin-top: 34px;
}
.latest {
  font-size: 0;
  width: 1130px;
  margin: 0 auto;
  padding-bottom: 82px;
}
.latest-item {
  float: left;
  width: 350px;
}
.latest-item img {
  margin-bottom: 14px;
}
h3 {
  font-family: "Open Sans", sans-serif;
  color: #555252;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 24px;
}
p {
  font-family: "Open Sans", sans-serif;
  color: #555252;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  line-height: 26px;
}
.latest-item:nth-child(-n + 2) {
  margin-right: 40px;
}
h3::after {
  content: "";
  display: block;
  background-color: #4ec6ab;
  width: 138px;
  height: 3px;
  margin-top: 14px;
}
button {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  width: 160px;
  height: 51px;
  text-align: center;
  border-radius: 3px;
  border-width: 0px;
  background-color: #4ec6ab;
}
